
.wrapper{
    display: flex;
    width: 100%;
    height: 45%;
    background: url('../assets/claim_stub.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#claimStub input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #747171;
}
#claimStub .col1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    width: 69%;
    height: 100%;
}
#claimStub .col2{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 31%;
    height: 100%;
}
#claimStub label{
    font-weight: bold;
}
#claimStub span{
    font-size: 70px;
}

#claimStub .row1{
    display: flex;
    justify-content: space-between;
    margin: 120 30px 0 30px;
   

}
#claimStub .row2{
    display: flex;
    justify-content: space-between;
    margin: 30px;

}



@media print {
    * {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-print-color-adjust: exact !important;
    }
    
    .wrapper{
        display: flex;
        width: 100%;
        height: 25%;
        background: url('../assets/claim_stub.png') no-repeat center center;
        background-size: contain;
    }

    input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #747171;
        width: 100px;
    }
    #name{
        width: 200px;
    }
    #unit{
        width: 120px;
    }
    #claimStub .col1{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%!important;

    }
    #claimStub .col2{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 30%;
        height: 100%!important;


    }
    label{
        font-weight: bold;
        font-size: 12pt;
    }
    span{
        font-size: 40pt!important;
    }

    .row1{
        display: flex;
        justify-content: space-between;
    

    }
    .row2{
        display: flex;
        justify-content: space-between;
    }



}