:root{
    --primary:#08082b;
}
nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--primary);
}
.logo img{
    height: 50px;
    width: 200px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
a{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0 30px;
    gap: 20px;
    
}
li{
    list-style-type: none;
    
    
}
